{% extends "base.html" %}
{% load static %}

{% block title %}
Контакты компании State-Art (Деккон) в Москве
{% endblock %}

{% block canonical %}

{% endblock %}

{% block description %}

{% endblock %}

{% block main %}
    <div class="content-section">
        <div class="breadcrumbs main-text">
            <a class="link-text" href="/">Главная</a> > контакты
        </div>
                <div class="only-text-block">
                    <h1 class="h1-title with-margin">Наши контакты</h1>
                    <div class="main-text strong">Компания ООО "ДЕККОН"</div>
                    <div class="main-text with-margin"><span class="strong">Адрес:</span> 108841, Россия, Москва,
                        Троицк,
                        Фабричная площадь, д.1</div>
                    <div class="main-text with-margin">Юр. адрес: 127474, Россия, г Москва, Дмитровское шоссе, 60, VI
                        комн
                        36 <br> ОГРН 1107746624886</div>
                    <h2 class="h2-title">Отдел производства и металлообработки</h2>
                    <p class="main-text with-margin"><span class="strong">Бухгалтерско-договорной отдел:</span>
                        Потемкина
                        Ирина <br>
                        +7 (916) 018 94 67 <br>
                        <a href="#" class="link-text">irina-st22@yandex.ru</a>
                    </p>
                    <p class="main-text with-margin"><span class="strong">Отдел главного конструктора:</span> Корнев
                        Евгений
                        <br>
                        +7 (916) 316 06 96<br>
                        <a href="#" class="link-text">e-kor1@yandex.ru</a>
                    </p>
                    <!-- ПЕРВАЯ КАРТА -->
                    <div class="first-map">
                        <iframe src="https://yandex.ru/map-widget/v1/?z=12&amp;ol=biz&amp;oid=205438977431" width="560" height="400" frameborder="0"></iframe>
                    </div>
                    <!-- КОНЕЦ ПЕРВОЙ КАРТЫ -->
                    <h2 class="h2-title with-margin">Администрация:</h2>
                    <p class="main-text with-margin">- по вопросам бухгалтерии и оформления договоров - <span
                            class="strong">Потемкина Ирина Алексеевна</span>,
                        e-mail: <a href="#" class="link-text">irina-st22@yandex.ru</a></p>
                    <p class="main-text align-center">
                        ВНИМАНИЕ: для быстрого проезда введите в строке поиска навигатора наши координаты:
                        <br>
                        <span class="strong">55.492962, 37.308049</span>
                    </p>
                    <!-- ВТОРАЯ КАРТА -->
                    <div class="second-map">
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aff08bdffbbbba114ab3dc6d855d2feab2befdd4a2b5943efe8af84edc284a319&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                    </div>
                    <!-- КОНЕЦ ВТОРОЙ КАРТЫ -->
                    <h2 class="h2-title with-margin">Обратная связь, заказ продукции.</h2>
                    <p class="main-text with-margin">
                        Чтобы отправить нам файл, или оформить заказ на изготовление и приобретение нашей продукции -
                        заполните форму "ЗАЯВКА НА РАСЧЕТ СТОИМОСТИ" и нажмите кнопку Отправить заявку.
                        Либо воспользуйтесь одним из наших телефонов. Также Вы можете приехать в наш офис ежедневно** по
                        будням с 10:00 до 18:00 <br>
                        <br>
                        ** <span class="strong">Просим в случае приезда для встречи с администрацией или Главным
                            конструктором, согласовывать
                            время встречи заранее.</span> Спасибо за понимание!
                    </p>
                </div>
                <div class="callback-banner">
                    <div class="callback-banner-callback-part">
                        <p class="callback-banner-title">Получить бесплатную консультацию</p>
                        <div class="callback-banner-content">
                            <div class="callback-banner-phones">
                                <p class="main-text strong-with-margin">
                                    Звоните!
                                </p>
                                <p class="phone-text">
                                    +7 (916) 316 06 96
                                </p>
                                <p class="phone-text">
                                    +7 (916) 018 94 67
                                </p>
                                <p class="main-text with-margin">
                                    ежедневно с 11:00 до 18:00
                                </p>
                            </div>
                            <div class="callback-banner-mail">
                                <p class="main-text">
                                    Пишите!
                                </p>
                                <p class="main-text strong">
                                    irina-st22@yandex.ru
                                </p>
                            </div>
                            <p class="link-text strong callback-btn">
                                Закажите обратный звонок
                            </p>
                        </div>
                    </div>
                    <div class="callback-banner-form-part">
                        <p class="callback-banner-title">Заявка на расчет стоимости</p>
                        <div class="callback-banner-content">
                            <p class="main-text align-center with-margin">Отправьте заявку на расчет и получение
                                индивидуальное коммерческое предложение!</p>
                            <p class="callback-button callback-banner-button callback-btn">Отправить заявку</p>
                        </div>
                    </div>

                </div>
            </div>
{% endblock %}

