{% extends "base.html" %}
{% load static %}

{% block title %}
Доставка и оплата
{% endblock %}

{% block main %}
<div class="content-section">
                <div class="only-text-block">
                    <h1 class="h1-title with-margin">Доставка и оплата</h1>
                    <p class="main-text with-margin strong">Условия доставки:</p>
                    <p class="main-text with-margin">Доставка продукции компании в пределах МКАД - 3000 руб.</p>
                    <p class="main-text with-margin">Доставка за МКАД по МО: - 3000р. + 70р. за каждый км</p>
                    <p class="main-text with-margin">Доставка продукции компании по России и странам ближнего и дальнего
                        зарубежья осуществляется
                        сторонней транспортной компанией в соответствии с тарифами этой компании.</p>

                    <p class="main-text with-margin strong">Условия оплаты:</p>
                    <p class="main-text with-margin">Заказ оформляется после 60% предоплаты (мебель, конструкции,
                        металлоизделия на заказ).
                        Заказ оформляется после 100% предоплаты (материалы, готовые металлоконструкции и изделия).</p>
                    <p class="main-text with-margin">Заказ оформляется после 100% предоплаты (материалы, готовые
                        металлоконструкции и изделия).

                        Оплата продукции компании осуществляется путем безналичного перевода денежных средств на счет
                        компании, в соотвествии с условиями предварительных договоренностей. Возможны иные виды оплаты -
                        обговариваются отдельно.</p>

                </div>
            </div>
{% endblock %}