{% extends "base.html" %}
{% load static %}

{% block title %}
Как заказать
{% endblock %}

{% block canonical %}

{% endblock %}

{% block description %}

{% endblock %}

{% block main %}
 <div class="content-section">
     <div class="breadcrumbs main-text">
            <a class="link-text" href="/">Главная</a> > как заказать
        </div>
                <div class="only-text-block">
                    <h1 class="h1-title with-margin">Как заказать</h1>
                    <p class="main-text with-margin">Перед вами задача купить или заказать металлическую конструкцию,
                        корпус или мебель? Изделие несёт
                        декоративную нагрузку и может быть из нержавеющей стали? Тогда воспользуетесь услугами
                        производственной компании «Стэйт-Арт», ведь мы предоставляем комплексное обслуживание от
                        разработки
                        до непосредственного монтажа изделий.
                    </p>
                    <p class="main-text with-margin">
                        Наш коллектив – это команда исключительных профессионалов, которые к каждому заказу подходят не
                        только со всей ответственностью, но и с душой. Благодаря данным качествам и большому опыту
                        работы мы
                        можем создавать уникальные и весьма оригинальные конструкции, которые поражают сочетанием стиля
                        и
                        практичности.
                    </p>
                    <p class="main-text with-margin">
                        Нас отличает нестандартный подход к созданию проектов и высокое качество их исполнения. Также к
                        нашим преимуществам можно отнести то, что мы:
                    </p>

                    <nav class="only-text-block-list with-margin">
                        <li class="main-text">Производим точные и тщательные расчеты параметров продукции.</li>
                        <li class="main-text">Можем работать как в рациональном и традиционном ключе, так и создавать
                            креативные и нетиповые изделия.</li>
                        <li class="main-text">Всегда прислушиваемся ко всем пожеланиям клиентов.</li>
                        <li class="main-text">Берем в расчет все нюансы каждого заказа, следим, чтобы конструкции
                            гармонично вписывались в
                            пространство и интерьер.</li>
                        <li class="main-text">Стараемся выполнять все заказы как можно оперативней.</li>
                        <li class="main-text">Гарантируем качество и надежность продукции нашего производства.</li>
                    </nav>

                    <p class="main-text with-margin">
                        Наше сотрудничество будет происходить таким образом:
                    </p>

                    <nav class="only-text-block-list with-margin">
                        <li class="main-text">Вы, с нашей помощью, предоставляете начальное Техническое задание. Далее,
                            знакомитесь с работами фирмы, просматривая наши сайты, каталоги. Для ознакомления с нами и
                            образцами изделий, настоятельно рекомендуем посетить наше производство. Если качество и
                            уровень изготовления вас устраивает, мы переходим к выработке ценового предложения,
                            финального ТЗ и заключению исполнительского договора.</li>
                        <li class="main-text">Стандартная схема оплаты состоит из трех частей. На первом этапе вносится
                            предоплата, а затем следуют еще два платежа, последний из которых осуществляется после
                            полного завершения работ.</li>
                        <li class="main-text">Производственный цикл включает в себя создание и утверждение Заказчиком
                            исполнительских чертежей и эскизов изделия, и, собственно, процесс изготовления изделия.
                            Вторая предоплата вносится Заказчиком до начала монтажных работ.</li>

                    </nav>

                </div>
            <div class="callback-banner">
                    <div class="callback-banner-callback-part">
                        <p class="callback-banner-title">Получить бесплатную консультацию</p>
                        <div class="callback-banner-content">
                            <div class="callback-banner-phones">
                                <p class="main-text strong-with-margin">
                                    Звоните!
                                </p>
                                <p class="phone-text">
                                    +7 (916) 316 06 96
                                </p>
                                <p class="phone-text">
                                    +7 (916) 018 94 67
                                </p>
                                <p class="main-text with-margin">
                                    ежедневно с 11:00 до 18:00
                                </p>
                            </div>
                            <div class="callback-banner-mail">
                                <p class="main-text">
                                    Пишите!
                                </p>
                                <p class="main-text strong">
                                    irina-st22@yandex.ru
                                </p>
                            </div>
                            <p class="link-text strong callback-btn">
                                Закажите обратный звонок
                            </p>
                        </div>
                    </div>
                    <div class="callback-banner-form-part">
                        <p class="callback-banner-title">Заявка на расчет стоимости</p>
                        <div class="callback-banner-content">
                            <p class="main-text align-center with-margin">Отправьте заявку на расчет и получение
                                индивидуальное коммерческое предложение!</p>
                            <p class="callback-button callback-banner-button callback-btn">Отправить заявку</p>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}