{% extends "base.html" %}
{% load static %}

{% block title %}
Нержавеющие металлоконструкции – где заказать изготовление, стоимость
{% endblock %}

{% block main %}
    <div class="content-section">
                <h1 class="h1-title align-center">Производство металлических конструкций</h1>
                <div class="three-columns-block">
                    <div class="three-columns-block_column">
                        <img src="{% static 'content/img/1.jpg'%}" alt="" class="default-image">
                        <p class="main-text red-text with-margin">
                            РАЗРАБОТКА и изготовление мебели и элементов интерьера:
                        </p>
                        <a href="#" class="link-text">- корпусная мебель для кухни</a>
                        <a href="#" class="link-text">- почтовые ящики из нержавеющей стали</a>
                        <a href="#" class="link-text">- сдвижные навесы для спусков в цокольные этажи</a>
                        <a href="#" class="link-text">- лестницы и ограждения из нержавеющей стали</a>
                        <a href="#" class="link-text">- мебель и конструкции в стиле Лофт</a>
                        <a href="#" class="link-text">- подстолья, опоры и столы</a>
                    </div>
                    <div class="three-columns-block_column">
                        <img src="{% static 'content/img/2.jpg' %}" alt="" class="default-image">
                        <p class="main-text red-text with-margin">
                            ПРОИЗВОДСТВО легких декоративных металлоконструкций:
                        </p>
                        <a href="#" class="link-text">- ограждающие конструкции типовые бюджетные</a>
                        <a href="#" class="link-text">- торговое оборудование</a>
                        <a href="#" class="link-text">- двери из нержавеющей стали</a>
                        <a href="#" class="link-text">- конструкции из перфолиста</a>
                        <a href="#" class="link-text">- декоративные каркасы и фермы</a>
                        <a href="#" class="link-text">- металлические потолки</a>
                        <a href="#" class="link-text">- нержавеющая мебель для гаражей и хозблоков</a>
                    </div>
                    <div class="three-columns-block_column">
                        <img src="{% static 'content/img/3.jpg' %}" alt="" class="default-image">
                        <p class="main-text red-text with-margin">
                            Digital оборудование: интерактивное, проекционное, голографическое
                        </p>
                        <a href="#" class="link-text">- павильон голографический Musion Blackbox</a>
                        <a href="#" class="link-text">- эксклюзивные корпуса, стенды и пилоны</a>
                        <a href="#" class="link-text">- I-Collo круглый интерактивный стол</a>
                        <a href="#" class="link-text">- I-Bar интерактивная барная стойка</a>
                    </div>
                </div>
                <div class="only-text-block">
                    <h2 class="h1-title with-margin">Нержавеющие металлоконструкции</h2>
                    <p class="main-text with-margin">Металлические конструкции на сегодняшний день используются
                        практически во все сферах, это – промышленность, торговля, сельское хозяйство, а также широко
                        применяются в декоративном оформлении. Они могут быть выполнены из различных металлов и их
                        сплавов. Однако, особой популярностью пользуются конструкции из нержавеющего металла.
                    </p>
                    <p class="main-text with-margin">Подобного рода конструкции обладают высокими прочностными и
                        эксплуатационными характеристиками и
                        не подвержены коррозии. Классифицируются МК по типу сборки (цельные и сборно-разборные),
                        назначению (несущие, декоративные, ограждающие), а также материалу изготовления.</p>
                </div>
                <div class="image-grid-block">
                    <h2 class="h2-title with-margin">Примеры работ</h2>
                    <div class="grid">
                        {% for i in work_example %}
                        <a href="{% url 'work_example' i.slug %}" class="image-grid-block_part link-text with-margin align-center">
                            <img src="{{ i.img_title.url }}" alt="" class="image-grid-block_image">
                            {{ i.title_article }}
                        </a>
                        {% endfor %}
                    </div>

                </div>
                <div class="only-text-block">
                    <h2 class="h1-title with-margin">Где в Москве заказать качественные металлические конструкции?</h2>
                    <p class="main-text with-margin">Производством металлических конструкций высокого качества в Москве
                        занимается компания ДЕККОН
                        (Стэйт-Арт). Наша компания функционирует с 1996 года и за все время успешной деятельности мы
                        выполнили не один десяток проектов. Наша специализация – это изготовление металлических
                        конструкций
                        из нержавеющей стали и черных металлов по индивидуальным эскизам клиентов. У нас вы можете
                        заказать
                        декоративные металлоконструкции, нестандартные и типовые ограждения, барные стойки, кухни,
                        консоли и
                        подстолья, навесы, а также стенды, пилоны и разнообразную мебель. Наша компания изготавливает
                        нестандартное оборудование из самых высококачественных материалов.
                    </p>
                    <p class="main-text with-margin">Заказать нержавеющие металлоконструкции можно непосредственно на
                        сайте нашей компании оставив заявку
                        в электронном виде или позвонив по контактным номерам телефонов.</p>
                </div>
                <div class="only-text-block">
                    <h2 class="h1-title with-margin">Преимущества сотрудничества с нами</h2>
                    <p class="main-text with-margin">Заказывая металлоконструкции у нас вы получаете не только
                        безупречное качество, но и:
                    </p>
                    <nav class="only-text-block-list with-margin">
                        <li class="main-text">Адекватные цены и привлекательные скидки</li>
                        <li class="main-text">Профессиональное исполнение заказа точно по техническому заданию</li>
                        <li class="main-text">Персональный подход к каждому заказчику</li>
                        <li class="main-text">Доставку по всей территории страны</li>
                    </nav>
                    <p class="main-text with-margin">Мы со всей ответственностью относимся к своей работе и гарантируем
                        точное соблюдение всех оговоренных сроков и безупречное качество производимой нами продукции.
                    </p>
                    <p class="main-text with-margin">Если нужны оригинальные и уникальные нержавеющие конструкции
                        различного назначения, то вам точно к нам. Узнать более детальную информацию вы можете у наших
                        специалистов. Они с радостью проконсультируют и ответят на все интересующие вас вопросы.
                    </p>
                </div>
                <div class="only-text-block">
                    <h2 class="h2-title with-margin">Новости компании Стэйт-Арт (ДЕККОН):</h2>
                    {% for i in news %}
                    <p class="main-text with-margin">{{ i.news }}</p>
                    {% if i.img.url != "" %}
                        <div class="two-images">
                            <img src="{{ i.img.url }}" alt="" class="two-images-one">
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
    </div>
{% endblock %}