{% extends "base.html" %}
{% load static %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block canonical %}
{{ object.canonical }}
{% endblock %}

{% block description %}
{{ object.description }}
{% endblock %}




{% block main %}
            <div class="content-section">
                <div class="breadcrumbs main-text">
            <a class="link-text" href="/">Главная</a> > <a class="link-text" href="/project">проекты</a> > {{ object.title_h1_1|safe }}
        </div>
                <div class="only-text-block">
                    <h1 class="h1-title with-margin">
                        {{ object.title_h1_1|safe }}
                    </h1>
                    <p class="main-text with-margin">
                        {{ object.description_1|safe }}
                </div>
                <div class="bordered-block">
                    <p class="main-text align-center">
                        {{ object.description_2|safe }}
                    </p>
                </div>
                {% if object.img1.url != "" %}
                <div class="two-photos-block">

                    <a href="{{ object.img1.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img1.url }}" alt="{{ object.alt_img1 }}" title="{{ object.title_img1 }}">
                    </a>

                    {% endif %}
                    {% if object.img2.url != "" %}
                    <a href="{{ object.img2.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img2.url }}" alt="{{ object.alt_img2 }}" title="{{ object.title_img2 }}">
                    </a>
                </div>
                {% endif %}
                {% if object.img3.url != "" %}
                <div class="two-photos-block">
                    <a href="{{ object.img3.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img3.url }}" alt="{{ object.alt_img3 }}" title="{{ object.title_img3 }}" >
                    </a>
                    {% endif %}
                    {% if object.img4.url != "" %}
                    <a href="{{ object.img4.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img4.url }}" alt="{{ object.alt_img4 }}" title="{{ object.title_img4 }}" >
                    </a>
                </div>
                {% endif %}
                {% if object.img5.url != "" %}
                <div class="two-photos-block">
                    <a href="{{ object.img5.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img5.url }}" alt="{{ object.alt_img5 }}" title="{{ object.title_img5 }}">
                    </a>
                    {% endif %}
                    {% if object.img6.url != "" %}
                    <a href="{{ object.img6.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img6.url }}" alt="{{ object.alt_img6 }}" title="{{ object.title_img6 }}">
                    </a>
                </div>
                {% endif %}
                {% if object.img7.url != "" %}
                <div class="two-photos-block">
                    <a href="{{ object.img7.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img7.url }}" alt="{{ object.alt_img7 }}" title="{{ object.title_img7 }}">
                    </a>
                    {% endif %}
                    {% if object.img8.url != "" %}
                    <a href="{{ object.img8.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img8.url }}" alt="{{ object.alt_img8 }}" title="{{ object.title_img8 }}" >
                    </a>
                </div>
                {% endif %}
                {% if object.img9.url != "" %}
                <div class="two-photos-block">
                    <a href="{{ object.img9.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img9.url }}" alt="{{ object.alt_img9 }}" title="{{ object.title_img9 }}">
                    </a>
                    {% endif %}
                    {% if object.img10.url != "" %}
                    <a href="{{ object.img10.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img10.url }}" alt="{{ object.alt_img10 }}" title="{{ object.title_img10 }}">
                    </a>
                </div>
                {% endif %}
                {% if object.img11.url != "" %}
                <div class="two-photos-block">
                    <a href="{{ object.img11.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img11.url }}" alt="{{ object.alt_img11 }}" title="{{ object.title_img11 }}">
                    </a>
                    {% endif %}
                    {% if object.img12.url != "" %}
                    <a href="{{ object.img12.url }}" class="fancybox two-images-one" data-fancybox-clickSlide="false">
                                <img src="{{ object.img12.url }}" alt="{{ object.alt_img12 }}" title="{{ object.title_img12 }}">
                    </a>
                </div>
                {% endif %}
            </div>

        {% endblock %}
