{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'content/Favicon.png' %}" type="png">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Студия StateArt - Нержавеющие металлоконструкции</title>
    <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'node_modules/fancybox/dist/css/jquery.fancybox.css' %}">
    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="main-header-column">
                <img src="{% static 'content/logosite.jpg' %}" alt="" class="logo">
                <p class="main-text align-center">Конструкции из нержавеющей стали
                    Работаем с 1996 года</p>
            </div>
            <div class="main-header-column main-header-column_second">
                <img src="{% static 'content/mail.svg' %}" alt="" class="mail-icon">
                <div class="text-part">
                    <p class="main-text strong">irina-st22@yandex.ru</p>
                    <p class="main-text">ПН-ПТ с 11:00 до 18:00
                        По общим вопросам:
                        +7 (916) 018 94 67</p>
                </div>
            </div>
            <div class="main-header-column main-header-column_second">
                <img src="{% static 'content/phone.svg' %}" alt="" class="phone-icon">
                <div class="text-part text-part_phones">
                    <p class="main-text">Конструкторский:</p>
                    <p class="phone-text">
                        +7 (916) 316 06 96
                    </p>
                    <p class="main-text">Бухгалтерско-договорной:</p>
                    <p class="phone-text">
                        +7 (916) 018 94 67
                    </p>
                </div>
            </div>
            <div class="main-header-column last">
                <p class="main-text align-right">Новая Москва, Троицк, <br>
                    Фабричная площадь, д.1</p>
                <p class="button callback-button callback-btn">
                    Обратный звонок
                </p>
            </div>
        </header>


{% load widget_tweaks %}
        <div class="callback-form-wrapper" id="callback-form">
            <div class="callback-form" onclick="event.stopPropagation()">
                <h2 class="h2-title form-title with-margin align-center">Закажите обратный звонок</h2>
                <p class="main-text align-center with-margin">
                    *Если Вы спешите - укажите только свой номер телефона
                </p>
                <form class="callback-form-form" method="post">
                    {% csrf_token %}
                    {{ form.phone_number|attr:'class:callback-form-input'|attr:'type:tel'|attr:'id:phone'|attr:'placeholder:Номер телефона*' }}
                    {{ form.time|attr:'class:callback-form-input'|attr:'placeholder:Удобное время для звонка' }}
                    {{ form.name|attr:'class:callback-form-input'|attr:'placeholder:Ваше имя' }}
                    {{ form.captcha }}

                    {{ form.url|attr:'hidden' }}
                    <script>
                        const url = window.location.href;
                        document.getElementById('id_url').value = url;
                    </script>
                    <p class="main-text align-center with-margin">
                        Нажимая кнопку, я принимаю <a href="#" class="link-text">соглашение о конфиденциальности</a> и
                        соглашаюсь с обработкой персональных данных
                    </p>
                    <button type="submit" class="submit-btn">Отправить</button>
                </form>
            </div>
        </div>



        <nav class="header-navbar">
            <li class="navlink"><a href="{% url 'homepage' %}">Главная</a></li>
            <li class="navlink"><a href="{% url 'delivery' %}">Доставка и оплата</a></li>
            <li class="navlink"><a href="{% url 'offer' %}">Как заказать</a></li>
            <li class="navlink"><a href="{% url 'poleznye-stati' %}">Статьи</a></li>
            <li class="navlink"><a href="{% url 'reviews' %}">Отзывы</a></li>
            <li class="navlink"><a href="{% url 'contacts' %}">Контакты</a></li>
        </nav>
        <div class="header-navbar_mobile">
            <img class="header_navbar_button" src="{% static 'content/Burger.svg' %}"></img>
            <nav class="header-navbar_hiden header-navbar_hiden_hide">
                <li class="navlink"><a href="{% url 'homepage' %}">Главная</a></li>
                <li class="navlink"><a href="{% url 'delivery' %}">Доставка и оплата</a></li>
                <li class="navlink"><a href="{% url 'offer' %}">Как заказать</a></li>
                <li class="navlink"><a href="{% url 'poleznye-stati' %}">Статьи</a></li>
                <li class="navlink"><a href="{% url 'reviews' %}">Отзывы</a></li>
                <li class="navlink"><a href="{% url 'contacts' %}">Контакты</a></li>
            </nav>
        </div>
        <div class="main-section">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <h2 class="h2-title sidebar-title">Наши услуги</h2>
                    <li class="dropdown sidebar-text">
                        <a href="#" class="main-text strong  dropdown-btn">
                            Производство и металлообработка
                        </a>
                        <nav class="dropdown-content">
                    <li><a href="#" class="main-text strong sidebar-text">Наш цех</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Барные стойки и ресепшен</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Навесы и козырьки: металл, стекло</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Мебель и элементы интерьера</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Входы и двери</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Фермы и каркасы</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Колонны</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Конструкции из перфолиста</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Декоративный крепеж</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">"Бассейн" частный проект. Описание
                            производства и
                            монтажа.</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Скамейки и беседки</a></li>
                    <li><a href="#" class="main-text strong sidebar-text">Нестандартные металлоконструкции</a></li>
                </nav>
                </li>

                <li class="dropdown sidebar-text">
                    <a href="#" class="main-text strong  dropdown-btn">
                        Лестницы и ограждения
                    </a>
                    <nav class="dropdown-content">
                <li><a href="#" class="main-text strong sidebar-text">Изготовление металлического каркаса</a></li>
                <li><a href="#" class="main-text strong sidebar-text">Лестницы из нержавейки</a></li>
                <li><a href="#" class="main-text strong sidebar-text">Поручни из нержавеющей стали</a></li>
                </nav>
                </li>

                <li class="dropdown sidebar-text">
                    <a href="#" class="main-text strong  dropdown-btn">
                        Почтовые ящики из металла
                    </a>
                    <nav class="dropdown-content">
                <li><a href="#" class="main-text strong sidebar-text">Дизайн фасадов дверок почтовых ящиков</a></li>
                <li><a href="#" class="main-text strong sidebar-text">Почтовые ящики в Интернет-магазине (перейти)</a>
                </li>
                </nav>
                </li>

                <li class="dropdown sidebar-text">
                    <a href="#" class="main-text strong  dropdown-btn">
                        Эксклюзивные цифровые интерактивные стенды
                    </a>
                    <nav class="dropdown-content">
                <li><a href="#" class="main-text strong sidebar-text">Голографический куб-павильон Musion</a></li>
                <li><a href="#" class="main-text strong sidebar-text">I-Collo круглый интерактивный стол</a></li>
                <li><a href="#" class="main-text strong sidebar-text">I-Bar интерактивные барные стойки</a></li>
                </nav>
                </li>

                <li class="sidebar-text"><a href="#" class="main-text strong">Торговое и выставочное оборудование из
                        нержавеющей
                        стали</a></li>

                <li class="sidebar-text"><a href="#" class="main-text strong">Сдвижные навесы цокольных спусков</a></li>

                <li class="sidebar-text"><a href="#" class="main-text strong">Декоративные витражные и зеркальные
                        перегородки</a></li>

                <li class="dropdown sidebar-text ">
                    <a href="#" class="main-text strong dropdown-btn">
                        Мебель в стиле ЛОФТ
                    </a>
                    <nav class="dropdown-content">
                <li><a href="#" class="main-text strong sidebar-text">Столики и подстолья Лофт</a></li>
                <li><a href="#" class="main-text strong sidebar-text">Стеновые обшивки и панели</a></li>
                </nav>
                </li>

                <li class="sidebar-text"><a href="#" class="main-text strong">Нержавеющая корпусная и встраиваемая
                        мебель
                        для
                        кухни</a></li>

                <li class="sidebar-text"><a href="#" class="main-text strong">Интегрированные нержавеющие мойки</a></li>

                <li class="sidebar-text"><a href="#" class="main-text strong">Напольные декоративные алюминиевые
                        листы</a>
                </li>

                <li class="sidebar-text"><a href="#" class="main-text strong">Работа в State-Art</a></li>
                </nav>

                <div class="sidebar-reasons">
                    <h2 class="h2-title align-center">Почему нам доверяют</h2>
                    <nav class="reasons-list">
                        <li class="reason-li">
                            <img src="{% static 'content/win.svg' %}" alt="" class="reason-img">
                            <p class="main-text strong">Более 20 лет на рынке услуг</p>
                        </li>
                        <li class="reason-li">
                            <img src="{% static 'content/bricks.svg' %}" alt="" class="reason-img">
                            <p class="main-text strong">Более 1000 реализованых объектов</p>
                        </li>
                        <li class="reason-li">
                            <img src="{% static 'content/people.svg' %}" alt="" class="reason-img">
                            <p class="main-text strong">Коллектив с высокой квалификацией</p>
                        </li>
                        <li class="reason-li">
                            <img src="{% static 'content/clock.svg' %}" alt="" class="reason-img">
                            <p class="main-text strong">Надежные сроки и высокое качество</p>
                        </li>
                        <li class="reason-li">
                            <img src="{% static 'content/tech.svg' %}" alt="" class="reason-img">
                            <p class="main-text strong">Собственные производственные мощности</p>
                        </li>
                        <li class="reason-li">
                            <img src="{% static 'content/sheild.svg' %}" alt="" class="reason-img">
                            <p class="main-text strong">Гарантия до 10 лет</p>
                        </li>
                    </nav>
                </div>
            </div>
            {% block main %}

            {% endblock %}
        </div>
        <footer class="footer">
            <div class="footer-column">
                <p class="main-text footer-text">108841, Россия, Москва, Троицк, Фабричная площадь, д.1</p>
                <p class="main-text footer-text">Тел./факс: +7 (916) 316 06 96</p>
                <p class="main-text footer-text">info@state-art.ru</p>
            </div>
            <div class="footer-column">
                <p class="main-text footer-text">
                    Copyright © 2002-2023
                    Цех "Стэйт Арт - ДЕККОН"
                </p>
                <p class="main-text footer-text link-text callback-btn">Отправить заявку</p>
            </div>
        </footer>
        <div class="btn-up btn-up_hide"></div>
    </div>


    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/fancybox/dist/js/jquery.fancybox.js' %}"></script>
    <script>
        $(".fancybox").fancybox({
            hideOnContentClick: false
        });
        const callbackBtn = document.querySelectorAll('.callback-btn');
        callbackBtn.forEach(button => {
            button.addEventListener('click', () => document.getElementById('callback-form').classList.add('callback-form-wrapper-active'))
        })
        const callbackBtnId = {
            el: document.getElementById('callback-btn'),
            addEventListener() {
                this.el.onclick = () => {
                    document.getElementById('callback-form').classList.add('callback-form-wrapper-active')
                }
            }
        }
        const callbackForm = document.getElementById('callback-form');
        callbackForm.addEventListener('click', () => callbackForm.classList.remove('callback-form-wrapper-active'))
        callbackBtnId.addEventListener();
        const btnUp = {
            el: document.querySelector('.btn-up'),
            show() {
                this.el.classList.remove('btn-up_hide');
            },
            hide() {
                this.el.classList.add('btn-up_hide');
            },
            addEventListener() {
                window.addEventListener('scroll', () => {
                    const scrollY = window.scrollY || document.documentElement.scrollTop;
                    scrollY > 100 ? this.show() : this.hide();
                });
                document.querySelector('.btn-up').onclick = () => {
                    window.scrollTo({
                        top: 0,
                        left: 0,
                        behavior: 'smooth'
                    });
                }
            }
        }
        btnUp.addEventListener();
        const headerNav = document.querySelector('.header-navbar_hiden');
        const navbarBtn = {
            el: document.querySelector('.header_navbar_button'),
            show() {
                headerNav.classList.remove('header-navbar_hiden_hide');
            },
            hide() {
                headerNav.classList.add('header-navbar_hiden_hide');
            },
            addEventListener() {
                document.querySelector('.header_navbar_button').onclick = () => {
                    if (headerNav.classList.contains('header-navbar_hiden_hide')) {
                        this.show();
                    }
                    else {
                        this.hide();
                    }
                }
            }
        }
        navbarBtn.addEventListener();
    </script>
</body>

</html>